{% extends "layout.html" %}
{% block content %}
<!-- Header -->
<header id="header">
	<a href="/" class="logo"><strong>Editorial</strong> by ESDL</a>
	<!-- <ul class="icons">
		<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
		<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
		<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
		<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
	</ul> -->
	<style>
		#main {
		background-color: #ADD8E6; /* 這是淺灰色的代碼 */
		}
		.a.toggle::before {
			color: #90f3f3;
		}
		.slider {
		background-color: #ADD8E6; /* 這是淺灰色的代碼 */
		}
		/* 基本全局樣式設置 */
		html, body {
			height: 100%;        /* 保證高度填充 */
			margin: 0;           /* 移除預設外邊距 */
			padding: 0;          /* 移除預設內邊距 */
			box-sizing: border-box; /* 避免內外邊距影響佈局 */
		}

		/* 主容器，避免頁面內容貼到底部 */
		main {
			min-height: 100vh; /* 保證頁面至少填滿視窗 */
			display: flex;     /* 使用 flex 布局 */
			flex-direction: column;
			padding-bottom: 50px; /* 頁面底部空間 */
		}

		/* Banner 樣式 */
		#banner {
			max-width: 1200px; /* 限制內容寬度 */
			margin: 0 auto;    /* 內容水平置中 */
			padding: 20px 10% 80px; /* 上、左右、下的內邊距 */
			box-sizing: border-box;
			text-align: left;
		}

		/* 圖片設置 */
		#esdl-image {
			max-width: 80%;    /* 圖片最大寬度為 80% */
			height: auto;      /* 等比例縮放 */
			display: block;    /* 移除內聯空隙 */
			margin: 0 auto;    /* 置中 */
		}

		/* 小螢幕適配 */
		@media (max-width: 768px) {
			#banner {
				padding: 10px 5% 50px; /* 調整小螢幕內邊距 */
			}
		}
	</style>
</header>

<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h1>ESDLBOT</h1>
			<p>The indicator indicates whether the sensor is operating properly!</p>
		</header>
		
		<!-- <label>
			<input type="checkbox" name="" id="" class="swcheckbox">
			<span class="swbtn-box swmiddle">
				<span class="swbtn"></span>      
			</span>
			<span class="swtext swmiddle">LiDAR</span>
		</label> -->
		<!-- <span id="scar-indicator" class="swtext swmiddle">Scar Node Status: Unknown</span> -->
		<!-- <div id="scar-indicator" style="width: 50px; height: 50px; border-radius: 50%; background-color: red;"></div> -->

		<div style="display: flex; align-items: center; justify-content: flex-start; margin-bottom: 30px;">
			<div id="scan-indicator" style="width: 30px; height: 30px; border-radius: 50%; background-color: red; box-shadow: 0 0 10px rgba(0,0,0,0.5); transition: background-color 0.5s;"></div>
			<span style="margin-left: 50px; font-size: 20px;"><strong>LiDAR Status</strong></span>
		</div>

		<div style="display: flex; align-items: center; justify-content: flex-start; margin-bottom: 30px;">
			<div id="imu-indicator" style="width: 30px; height: 30px; border-radius: 50%; background-color: red; box-shadow: 0 0 10px rgba(0,0,0,0.5); transition: background-color 0.5s;"></div>
			<span style="margin-left: 50px; font-size: 20px;"><strong>Imu Status</strong></span>
		</div>

		<div style="display: flex; align-items: center; justify-content: flex-start; margin-bottom: 30px;">
			<div id="webcam-indicator" style="width: 30px; height: 30px; border-radius: 50%; background-color: red; box-shadow: 0 0 10px rgba(0,0,0,0.5); transition: background-color 0.5s;"></div>
			<span style="margin-left: 50px; font-size: 20px;"><strong>Webcam Status</strong></span>
		</div>
		  

		<!-- <label>
		<br>
			<label>
				<input type="checkbox" name="" id="" class="swcheckbox">
				<span class="swbtn-box swmiddle">
					<span class="swbtn"></span>      
				</span>
				<span class="swtext swmiddle">Motor</span>
			</label>
		<br>
			<input type="checkbox" name="" id="" class="swcheckbox">
			<span class="swbtn-box swmiddle">
				<span class="swbtn"></span>      
			</span>
			<span class="swtext swmiddle">Webcam</span>
		</label>
		<br> -->



		<ul class="actions">
			<li><a data-toggle="modal" data-target="#exampleModal" class="button big">Navigation</a></li>
			<li><a id="index-map" class="button big" onclick="mapbtn()">Mapping </a></li>	
		</ul>
		
	</div> <!-- content -->
	<span class="image object">
		<img src="{{url_for('static', filename='img/ESDL_CAR_v3-3.jpg')}}" alt="ESDL CAR"/>
	</span>
</section><!-- banner -->	
			


<!-- Scripts -->
 <!--<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.min.js')}}"></script>-->
 <script type="text/javascript" src="{{ url_for('static', filename='assets/js/browser.min.js')}}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='assets/js/breakpoints.min.js')}}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='assets/js/util.js')}}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='assets/js/main.js')}}"></script>
 <script>
	var ip = $.cookie("serverip");
	var ros = new ROSLIB.Ros({
		// url: 'ws://192.168.1.180:9090'
		url: 'ws://' + ip + ':9090'
	});
  
	ros.on('connection', function() {
	  console.log('Connected to websocket server.');
	});
  
	ros.on('error', function(error) {
	  console.log('Error connecting to websocket server: ', error);
	});
  
	ros.on('close', function() {
	  console.log('Connection to websocket server closed.');
	});
  
	// 創建一個名為'/scan'的新主題
	var scanTopic = new ROSLIB.Topic({
		ros : ros,
		name : '/scan',
		messageType : 'sensor_msgs/LaserScan' // 將消息類型設置為'sensor_msgs/LaserScan'
	});

	var scanIndicator = document.getElementById('scan-indicator');
	scanIndicator.style.backgroundColor = 'red';

	scanTopic.subscribe(function(message) {
		console.log('Received message on ' + scanTopic.name);
	
		// 更新指示燈的狀態
		scanIndicator.style.backgroundColor = 'green';
		});

	// 創建一個名為'/usb_cam/image_raw/compressed'的新主題
	var webcamTopic = new ROSLIB.Topic({
		ros : ros,
		name : '/usb_cam/image_raw/compressed',
		messageType : 'sensor_msgs/CompressedImage' // 請將此消息類型更改為你的'/usb_cam/image_raw/compressed'節點使用的消息類型
	});

	var webcamIndicator = document.getElementById('webcam-indicator');
	webcamIndicator.style.backgroundColor = 'red';

	webcamTopic.subscribe(function(message) {
		console.log('Received message on ' + webcamTopic.name);
	
		// 更新指示燈的狀態
		webcamIndicator.style.backgroundColor = 'green';
		});

	// 創建一個名為'/imu/data_raw'的新主題
	var imuTopic = new ROSLIB.Topic({
		ros : ros,
		name : '/imu/data_raw',
		messageType : 'sensor_msgs/Imu' // 請將此消息類型更改為你的'/imu/data_raw'節點使用的消息類型
	});

	var imuIndicator = document.getElementById('imu-indicator');
	imuIndicator.style.backgroundColor = 'red';

	imuTopic.subscribe(function(message) {
		console.log('Received message on ' + imuTopic.name);
	
		// 更新指示燈的狀態
		imuIndicator.style.backgroundColor = 'green';
		});

	// 每隔 5 秒檢查一次是否有訂閱到訊息
	setInterval(function() {
	if (scanIndicator.style.backgroundColor == 'green') {
		console.log('Received message on /scan in the last 5 seconds.');
	} else {
		console.log('No message received on /scan in the last 5 seconds.');
	}
	
	if (webcamIndicator.style.backgroundColor == 'green') {
		console.log('Received message on /usb_cam/image_raw/compressed in the last 5 seconds.');
	} else {
		console.log('No message received on /usb_cam/image_raw/compressed in the last 5 seconds.');
	}

	if (imuIndicator.style.backgroundColor == 'green') {
		console.log('Received message on /imu/data_raw in the last 5 seconds.');
	} else {
		console.log('No message received on /imu/data_raw in the last 5 seconds.');
	}
	
	// 將指示燈的狀態重置為紅色
	scanIndicator.style.backgroundColor = 'red';
	webcamIndicator.style.backgroundColor = 'red';
	imuIndicator.style.backgroundColor = 'red';
	}, 5000);


  </script>

{% endblock content %}
